:root {
    --mainColor: #dde3e7;
    --secondaryColor: rgb(216, 203, 203);

    --borderColor: #357eb3;

    --buttonColor: #07b9c9;

    --hoverColor: #272361;

    --spanColor: #05d1ec;

    --themeDotBorder: #15cefc;

    --mustardYello: #02afff;
}