:root {
	--mainColor: #f8f6f6;
	--secondaryColor: #fff;

	--borderColor: #44e424;

	--buttonColor: #24c461;

	--hoverColor: #12e06c;

	--spanColor: #01f870;

	--themeDotBorder: #12e93d;

	--mustardYello: #13f70b;
}