:root {
	--mainColor: #f8f6f6;
	--secondaryColor: #fff;

	--borderColor: #a718b9;

	--buttonColor: #9713b8;

	--hoverColor: #f00be4;

	--spanColor: #a318f3;

	--themeDotBorder: #9d0aaa;

	--mustardYello: #77067a;
}